/* Features Section */
.features {
  text-align: center;
}

.section-title {
  font-family: Inter, "Inter Placeholder", sans-serif;
  font-size: 48px;
  line-height: 57.6px;
  font-weight: 600;
  letter-spacing: -0.96px;
  color: #0F0F10;
  margin: 76px 360px 0 360px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 0;
}

.feature-image-base {
  position: absolute;
  top: 70px;
  left: 109px;
  width: auto;
  height: auto;
  z-index: 1;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.feature-image-base.visible {
  opacity: 1;
  transform: translateY(0);
}

.feature-image-base img {
  width: auto;
  height: auto;
  object-fit: cover;
}

.feature-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 64px;
  flex-wrap: wrap;
  max-width: 1200px;
  max-height: 520px;
  margin: 0 auto;
  margin-top: 40px;
}

.feature-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feature-image {
  height: 319px;
  background: #F9F8F5;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.feature-image img {

}

.feature-card h3 {
  font-family: "Inter Tight", "Inter Tight Placeholder", sans-serif;
  font-size: 34px;
  line-height: 40.8px;
  font-weight: 600;
  letter-spacing: normal;
  color: #1B0030;
  max-width: 360px;
  text-align: start;
  align-items: start;
}

.feature-card p {
  font-family: "Inter Tight", "Inter Tight Placeholder", sans-serif;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 500;
  letter-spacing: 0.32px;
  color: #1B0030;
  max-width: 360px;
  margin: 16px 0 12px 0;
  text-align: start;
  align-items: start;
}

/* Responsive Design */
@media (max-width: 1100px) {
  .feature-cards {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  
  .feature-card {
    width: 90vw;
    max-width: 400px;
  }
} 


#feature2 {
  width: auto;
  max-width: 352px;
  max-width: 286px;
  position: absolute;
  top: 45px;
  left: 21px;
}
